.blog-area {
  background-color: $pine;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.pine {
  background-color: $pine;
}

// job posting main section
.flex-right {
  width: 60%;
  margin-left: 5%;
  position: relative;
  top: -200px;
}

article {
  h3 {
    padding: 50px 80px 0px;
  }
  h2 + p {
    font-weight: 700;
  }
  .job-posting {
    position: relative;
    right: 20px;
    border-bottom: 5px solid $yellow;
    border-left: 5px solid $yellow;
    padding: 50px 80px 80px;
  }
  .job-posting > p {
    padding-bottom: 25px;
  }
}

.user-comments {
  padding: 50px 80px;
  .user {
    display: flex;
    .user-icon {
      width: 10%;
      max-width: 100px;
      min-width: 60px;
    }
  }
}

.user:nth-child(1) {
    margin-bottom: 60px;
  }

.user-text {
  width: calc((100% - 10%) - 20px);
  padding: 0 0 30px 30px;
  position: relative;
  top: -10px;
}

// aside main section
.flex-left {
  width: 35%;
  max-width: 500px;
  margin: 120px 30px 0 7%;
}

// setting image
aside {
  position: relative;
  img {
    width: 125%;
    position: absolute;
    z-index: 100;
    right: 5%;
    top: -20px;
  }
}


// styling the dark feature to be responsive at larger screen sizes
.featured-restaurants,
.recent-posts {
  position: relative;
  background-color: $almostBlack;
  padding: 0 30px 30px;
  h4 + p {
    padding-bottom: 60px;
  }
}

.featured-restaurants {
  padding-top: 120%;
}

// styling of recent post links
.recent-posts {
  li {
    @include fontStyling(2rem, 400, 1px);
    @include lineHeight(28px);
    font-family: 'Barlow', sans-serif;
    margin: 10px;
    padding-left: 10px;
    position: relative;
    left: 10px;
    a {
      text-decoration: none;
      color: $white;
      &:hover,
      &:focus {
        color: $yellow;
      }
    }
  }
}