//Contact Page
.contact {
  background-color: $pine;
  position: relative;
  .contact-us {
    display: flex;
    justify-content: space-between;
  }
  ul{
    display: flex;
    li {
      list-style: none;
    }
    a {
      @include fontStyling(2rem, 700, 1px);
    }
    a:not(.fa-whatsapp) {
      padding-right: 25px;
    }
  }
}

.details {
  padding: 140px 0px 250px;
  ul + p {
    margin: 20px 0;
  }
}

.contact-form {
  position: relative;
  right: -20px;
  top: -100px;
  background-color: $almostBlack;
  padding: 60px;
  width: 70%;
  &--menu {
    @extend .contact-form;
    position: static;
    width: 100%;
    background-color: $pine;
    padding: 40px 80px;
  }
  .flex-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    .name,
    .email {
      width: calc(50% - 20px);
    }
  }
}