.about,
.cart {
  background-color: $pine;
}

.menu,
.gallery {
  background-color: $almostBlack;
}

//About Section Styling
.about {
  position: relative;
  padding: 180px 0 100px;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info-quad {
  width: calc(50% - 100px);
  position: relative;
  margin-left: 50px;
  i {
    font-size: 2rem;;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    padding: 10px;
    color: $almostBlack;
    background-color: $yellow;
    border-radius: 50%;
    margin: 20px;
    position: absolute;
    left: -90px;
    top: 5px
  }
  p {
    padding-bottom: 35px;
  }
}

//Menu Section
.menu {
  position: relative;
}

.rest-menu {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  justify-content: space-between;
  .burger-image, .salad-image, .text {
    width: 45%
  }
  .burger-image {
    position: relative;
    left: 0px;
    top: -20px;
  }
}
  .salad-image {
    position: absolute;
    right: 0px;
    bottom: -20px;
  }

.text {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  &.top-right {
    padding-right: 7vw;
  }
  &.bottom-left {
    padding-left: 7vw;
    text-align: right;
  }
  p {
    padding-bottom: 30px;
  }
}

//Cart Section
.cart {
  padding: 150px 0 100px;
  img {
    margin: 100px 0;
  }
  .gift-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}


.nature {
  display: flex;
  justify-content: flex-start;
  .feature {
    width: 65%;
  }
  img {
    width: 25%;
    margin: 0px 100px 0 0;
    align-self: center;
  }
}

//Gallery Image Styling
.gallery-images ul {
  display: flex;
  list-style: none;
  padding: 50px 0;
  li {
    margin-right: 3%;
    width: calc((100% - 6%) / 3);
  }
  li:nth-of-type(3) {
    margin-right: 0;
  }
}