@media (max-width: 1300px) {
  .contact-us {
    flex-direction: column-reverse;
  }

  .contact-form {
    width: 100%;
    position: static;
    margin: 40px 0;
  }

  .details {
    padding: 50px 0;
    text-align: center;
    ul{
      justify-content: center;
      a {
        font-size: 4rem;
        margin: 0 30px;
      }
    }
  }

  .menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    .burger-image,
    .salad-image {
      position: static;
      margin: 50px 0px;
      min-width: 300px;
    }
    .text {
      width: 60%;
      padding: 30px;
      text-align: center;
    }
  }
}

  .rest-menu {
    padding-bottom: 30px;
  }

@media (max-width: 1200px) {
  .cart {
    padding: 50px 0px;
  }

  .nature {
    display: block;
    .feature {
      width: 100%;
      text-align: center;
    }
    img {
      margin: 50px auto;
      width: 50%;
      min-width: 300px;
    }
  }

  // Format Contact Page
  .blog-area {
    display: block;
  }

  // Job Posting Adjustment
  .flex-right {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 0;
    padding-top: 40px;
  }

  article {
    .job-posting {
      border: 5px solid $yellow;
      padding: 50px 20px;
    }
    h3,
    .user-comments {
      padding: 50px 0 0;
    }
  }

  .contact-form--menu {
    padding: 0;
  }

  // Aside Section Adjustment
  .flex-left {
  width: 80%;
  max-width: none;
  margin: 0 auto;
  }

  aside {
    display: flex;
    justify-content: space-evenly;
    img {
      display: none;
    }
  } 

  .featured-restaurants,
  .recent-posts {
    padding: 20px;
    width: calc(100%/ 2);
    h4 {
      padding-bottom: 10px;
      line-height: 1.15;
    }
  }
}

@media (max-width: 1100px) {
  .about .information {
    display: block;
    .info-quad {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {

  //Adjust logo to top left and move nav bar to right of viewport
  .main-nav {
    position: fixed;
    z-index: 200;
    right: 3%;
    top: 100px;
    display: none;
    &__list {
      flex-flow: column;
      &-item {
        padding: 10px 0;
        text-align: right;
      }
    }
  }

  input:checked + .main-nav {
    display: block;
  }

  h1 {
    position: absolute;
    left: 5%;
    top: 50px;
    @include fontStyling(3rem, 600);
    @include lineHeight(20px);
    span {
      margin: 10px 0;
      padding: 10px 0;
      width: 200px;
    }
  }

  /* Gallery Adjustment to 2 pictures */
  .gallery-images ul {
    li {
      width: calc((100% - 6%) / 2);
    }

    li:nth-of-type(2) {
      display: none;
    }
  }

  //Hide Pop-Out Onion Rings
  .pop-out {
    img {
      display: none;
    }
  }

  // Add Mobile Nav
  .mobile-bars {
    visibility: visible;
  }

  // remove excess padding in about section for Pop-Out
  .about {
    padding: 60px 0;
  }

  h2 {
    line-height: 58px;
  }
}

@media (max-width: 800px) {
  .cart .gift-card {
    width: 100%;
  }

  .menu .text {
    width: 80%;
  }
}

@media (max-width: 700px) {

  .info-quad {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    i {
      position: static;
      margin: 20px auto;
    }
    h2 {
      text-align: center;
    }
  }

  // Remove restaurant image
  .banner {
    display: none;
  }

  .name,
  .email {
    width: 100%;
  }


  // Form Adjsutment for Smaller Screens
  .contact-form {
    padding: 20px;
  }
  
  // Stack Aside Information
  .flex-left {
    width: 100%;
  }

  aside {
    flex-direction: column;
  }

  .featured-restaurants,
  .recent-posts {
    width: 100%;
  }

  .featured-restaurants h4 + p {
    padding-bottom: 0;
  }

  .user:nth-child(1) {
    margin-bottom: 20px;
  }

  .user-icon {
    display: none;
  }

  .user-text {
    padding-left: 0;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .job-posting h2 {
    font-size: 3rem;
  }
}