.title {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $black;
  position: relative;
  height: 75vh;
  padding-top: 50px;
  &--index {
    @extend .title;
    background-image: url("../assets/home-header.jpg");
  }
  &--blog {
    @extend .title;
    background-image: url("../assets/blog-header.jpg");
  }
  &--contact {
    @extend .title;
    background-image: url("../assets/contact-header.jpg");
  }
}

//Styling of Desktop Nav Bar
.main-nav {
  padding: 20px 0;
  &__list {
    padding-top: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    &-item a {
      @include fontStyling(2rem, 700, 1px);
      color: $white;
      text-decoration: none;
      text-shadow: 2px 2px 2px $almostBlack;
      padding-bottom: 3px;
      margin: 20px;
    }
    &-item a:hover,
    &-item a:focus {
      border-bottom: 3px solid $yellow;
    }
    .current-page a{
      color: $yellow;
    }
  }
}

//Positioning of Pop-Out Onion Rings
.pop-out {
  img {
    position: absolute;
    bottom: -150px;
    right: 0;
    width: 50%;
    z-index: 10;
  }
}

//Styling of Mobile Nav Bar
.mobile-bars {
  visibility: hidden;
  z-index: 15;
  position: fixed;
  right: 10%;
  top: 55px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $almostBlack;
  .hamburger {
    width: 40px;
    height: 3px;
    margin: 8px 0px;
    background-color: $white;
  }
}

.mobile-checkbox {
  z-index: 100;
  height: 50px;
  width: 60px;
  position: fixed;
  right: 10%;
  top: 55px;
  opacity: 0;
  cursor: pointer;
}